/*
 - Importación global de Tailwind CSS.
 - Este archivo habilita el uso de las utilidades de Tailwind
 - en toda la aplicación Angular.
 */

@import "tailwindcss";

.chat-bg {
  background-image: url('/image/fondo.png');
  background-repeat: repeat;
  background-size: 400px 400px;
}
